@model WebApp.ViewModels.IndexViewModel

@{
    ViewData["Title"] = $"cloud-{Model.CloudName} | Refleter Cloud";
}

<div class="main-dashboard">
    @await Html.PartialAsync("_ConsoleTreeBar", Model.ConsoleTreeBarViewModel);
    @* <partial name="_ConsoleTreeBar"/> *@
</div>