@model WebApp.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "";
}

<div class="main-dashboard">
    @await Html.PartialAsync("_ConsoleTreeBar", Model.ConsoleTreeBarViewModel);
    @* <partial name="_ConsoleTreeBar"/> *@
</div>