@using Refleter.ServiceDefaults
@inject IConfiguration Configuration

<div class="top-row ps-3 navbar navbar-dark navbar-bottom-lined">
    <div class="navbar-brand navbar-brand__icon">
        <a href="">
            <div class="brand-icon">
                <img src="images/refleter.png" alt="Refleter" width="30" height="30"/>
            </div>
        </a>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56" height="29" class="navbar-header__header-divider" fill="currentColor" stroke="none" aria-hidden="true">
    <svg viewBox="0 0 56 29" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M56 0v29c-.8-1-7-6.1-17.7-8.4L13 15.7A16 16 0 0 1 0 0Z"></path>
    </svg>
</svg>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link__icon" href="" Match="NavLinkMatch.All">
                <img src="icons/cloud.svg" class="cloud-icon" alt="Cloud" height="20" width="20"/>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link__icon" href="settings">
                <img src="icons/settings.svg" class="settings-icon" alt="Settings" height="20" width="20"/>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link nav-link__icon" href="@_accountUrl">
                <img src="icons/account.svg" class="account-icon" alt="Account" height="20" width="20"/>
            </a>
        </div>
    </nav>
</div>

@code {

    private string? _accountUrl;

    protected override void OnInitialized()
    {
        _accountUrl = Configuration.GetRequiredValue("IdentityUrl");
    }
}