<div class="main-cloud-tree">
    <div class="ct-select-content-search">
        <input class="input-control" placeholder="Search"/>
    </div>
    <div class="ct-select-list-container">
        <div class="ct-select-list-header">
            <div class="sl-header-title">cloud-mishakrpv</div>
            <button class="account-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="account-icon" viewBox="0 0 24 24" width="16" height="16">
                    <path fill="none" stroke="currentColor" d="M14.6650391,13.3672485C16.6381226,12.3842773,17.9974365,10.3535767,18,8c0-3.3137207-2.6862793-6-6-6S6,4.6862793,6,8c0,2.3545532,1.3595581,4.3865967,3.3334961,5.3690186c-3.6583862,1.0119019-6.5859375,4.0562134-7.2387695,8.0479736c-0.0002441,0.0013428-0.0004272,0.0026855-0.0006714,0.0040283c-0.0447388,0.272583,0.1399536,0.5297852,0.4125366,0.5745239c0.272522,0.0446777,0.5297241-0.1400146,0.5744629-0.4125366c0.624939-3.8344727,3.6308594-6.8403931,7.465332-7.465332c4.9257812-0.8027954,9.5697632,2.5395508,10.3725586,7.465332C20.9594727,21.8233643,21.1673584,21.9995117,21.4111328,22c0.0281372,0.0001831,0.0562134-0.0021362,0.0839844-0.0068359h0.0001831c0.2723389-0.0458984,0.4558716-0.303833,0.4099731-0.5761719C21.2677002,17.5184937,18.411377,14.3986206,14.6650391,13.3672485z M12,13c-2.7614136,0-5-2.2385864-5-5s2.2385864-5,5-5c2.7600708,0.0032349,4.9967651,2.2399292,5,5C17,10.7614136,14.7614136,13,12,13z"></path>
                </svg>
            </button>
        </div>
        <div class="ct-select-list">
            <div class="sl-expandable-item">
                <button id="selectBtn" class="select-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="arrow-icon" viewBox="0 0 29 29" width="12" height="12">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="m20.5 11.5-6 6-6-6"></path>
                    </svg>
                </button>
                <div class="sl-expandable-item-title">scopes</div>
            </div>
        </div>
    </div>
</div>