<div class="main-cloud-tree">
    <div class="ct-select-content-search">
        <input class="input-control" placeholder="Search"/>
    </div>
    <div class="ct-select-list-scroll-area">
        <div class="ct-select-list-container">
            <div class="ct-select-list-header">
                <div class="sl-header-title">cloud-mishakrpv</div>
                <button class="btn account-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="account-icon" viewBox="0 0 24 24" width="16" height="16">
                        <path fill="none" stroke="currentColor" d="M14.6650391,13.3672485C16.6381226,12.3842773,17.9974365,10.3535767,18,8c0-3.3137207-2.6862793-6-6-6S6,4.6862793,6,8c0,2.3545532,1.3595581,4.3865967,3.3334961,5.3690186c-3.6583862,1.0119019-6.5859375,4.0562134-7.2387695,8.0479736c-0.0002441,0.0013428-0.0004272,0.0026855-0.0006714,0.0040283c-0.0447388,0.272583,0.1399536,0.5297852,0.4125366,0.5745239c0.272522,0.0446777,0.5297241-0.1400146,0.5744629-0.4125366c0.624939-3.8344727,3.6308594-6.8403931,7.465332-7.465332c4.9257812-0.8027954,9.5697632,2.5395508,10.3725586,7.465332C20.9594727,21.8233643,21.1673584,21.9995117,21.4111328,22c0.0281372,0.0001831,0.0562134-0.0021362,0.0839844-0.0068359h0.0001831c0.2723389-0.0458984,0.4558716-0.303833,0.4099731-0.5761719C21.2677002,17.5184937,18.411377,14.3986206,14.6650391,13.3672485z M12,13c-2.7614136,0-5-2.2385864-5-5s2.2385864-5,5-5c2.7600708,0.0032349,4.9967651,2.2399292,5,5C17,10.7614136,14.7614136,13,12,13z"></path>
                    </svg>
                </button>
            </div>
            <div class="ct-select-list">
                <div id="scopesExp" class="sl-expandable-item">
                    <button id="selectBtn" class="btn select-btn" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="arrow-icon" viewBox="0 0 29 29" width="12" height="12">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="m20.5 11.5-6 6-6-6"></path>
                        </svg>
                    </button>
                    <div class="sl-expandable-item-title">scopes</div>
                    <button id="actionsBtn" class="btn actions-btn" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="actions-icon" viewBox="0 0 16 16" width="16" height="16">
                            <path fill="currentColor" fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm5 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div id="scopes" class="sl-item-list">
                    <a href="#" class="sl-item-link">
                        <div title="boatman" class="sl-item">
                            <div class="sl-item-title">
                                <div class="scope-icon" style="color: rgb(255, 255, 255); background-color: rgb(39, 146, 57);">
                                    <span>BO</span>
                                </div>
                                <div class="sl-item-signature">
                                    boatman
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="actionsPopup" class="actions-popup">
                    <div id="createScopeBtn" class="action-item">
                        Create scope
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay" style="display: none;"></div>
    <dialog id="createScopeDialog" class="create-scope-dialog">
        <div class="cs-header">
            <span class="cs-header-title">Create scope</span>
            <button id="createScopeCloseBtn" class="btn close-btn" type="button">
                <svg aria-hidden="true" focusable="false" class="close-icon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom; overflow: visible;">
                    <path d="M3.72 3.72a.75.75 0 0 1 1.06 0L8 6.94l3.22-3.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l3.22 3.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-3.22 3.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L6.94 8 3.72 4.78a.75.75 0 0 1 0-1.06Z"></path>
                </svg>
            </button>
        </div>
        <div class="cs-dialog-body">
            <div class="input-container">
                <label class="form-control-label">Name<span class="required-sign" aria-hidden="true">*</span></label>
                <span class="cs-name-input-container">
                    <input id="scopeNameInput" class="cs-name-input form-control" required minlength="3" maxlength="100" />
                    <span id="snErrorMsg" class="input-error-msg"></span>
                </span>
            </div>
        </div>
        <div class="cs-dialog-footer">
            <div class="cs-btns-container">
                <div id="creationCancelBtn" class="btn creation-cancel-btn cs-btn">Cancel</div>
                <div id="creationConfirmBtn" class="btn creation-confirm-btn cs-btn locked">Create</div>
            </div>
        </div>
    </dialog>
</div>