.show-modal-button__text {
    white-space: nowrap;
    display: inline-block;
}

.show-modal-button {
    border-radius: 6px;
    color: #ffffffd9;
    background-color: #4b71d6;
    height: 28px;
    padding: 12px;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    justify-content: center;
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    position: relative;
    overflow: visible;
    align-items: center;
    transition: .1s;
}

.show-modal-button:hover {
    background-color: #638fff;
}

.show-modal-button:focus {
    outline-color: #4b71d6;
}

.show-modal-button:active {
    scale: 0.95;
}

.modal .model__content {
    outline: none;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.modal {
    z-index: 1000;
    visibility: hidden;
    background-color: #0009;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: #0000;
    margin: -9999px 0 0 -9999px;
    display: none;
    position: fixed;
    inset: 0;
    overflow: auto;
}

.modal_open {
    visibility: visible;
    margin: 0;
    display: block;
}

.modal__content-aligner {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    display: inline-flex;
}

.modal__content-wrapper {
    margin: 20px;
    border-radius: 5px;
    overflow-x: hidden;
}

.model__content {
    background-color: #2d2c33;
    border-radius: 5px;
}

.dialog {
    width: 480px;
    flex-direction: column;
    display: flex;
    position: relative;
}

.form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.form_dialog-more {
    
}

.dialog-header {
    padding-block: 20px 10px;
    padding-inline: 32px calc(32px + 24px* 1 + 24px* 0);
    color: #ffffffd9;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
    display: flex;
}

.dialog-header__caption {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
}

.dialog-body {
    padding: 10px 32px;
    flex: auto;
    overflow-y: auto;
}

.form__top {
    padding: 0px;
    margin-bottom: 0px;
}

.form-layout {
    
}

.form-layout__row {
    margin-bottom: 15px;
    display: flex;
}

.form-layout__row-left {
    padding-right: 8px;
    display: initial;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    width: 180px;
    padding-top: 5px;
}

.form-layout__row-title {
    display: inline;
}

.form-layout__row-title_required {
    position: static;
}

.form-layout__row-right {
    flex-grow: 1;
    min-width: 1px;
    margin-left: 15px;
}

.form-field-text {
    
}

.field-wrapper {
    vertical-align: top;
    width: 100%;
    display: inline-block;
}

.field-wrapper > * {
    vertical-align: top;
}

.field-wrapper_state_error {
    --g-select-border-color: #e84945cc;
    --g-text-input-border-color: #e84945cc;
    --g-text-area-border-color: #e84945cc;
}

.text-input {
    --_--text-color: #ffffffd9;
    --_--label-color: inherit;
    --_--placeholder-color: #ffffff4d;
    --_--background-color: transparent;
    --_--border-width: 1px;
    /*--_--focus-outline-color: var(--text-input-focus-outline-color);*/
    width: 100%;
    display: inline-block;
    position: relative;
}

.text-input_view_normal {
    --_--border-color: #ffffff26;
    --_--border-color-hover: #ffffff40;
    --_--border-color-active: #ffffff4d;
}
.text-input_size_m {
    --_--error-icon-padding-block: 5px;
    --_--error-icon-padding-inline: 0 5px;
    --_--border-radius: 6px;
}
.text-input_state_error {
    --g-select-border-color: #e84945cc;
    --g-text-input-border-color: #e84945cc;
    --g-text-area-border-color: #e84945cc;
}
.text-input_pin_round-round {
    
}
.form-field-text__control {
    box-sizing: border-box;
    vertical-align: top;
    color: inherit;
    background-color: #0000;
    border: none;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.text-input_size_m .text-input__control {
    --_--input-control-border-width: var(--g-text-input-border-width, var(--g-text-area-border-width, 1px));
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    height: calc(28px - var(--_--input-control-border-width)* 2);
    padding: 5px 8px;
}

.text-input__content {
    border-radius: 6px;

    box-sizing: border-box;
    background-color: var(--_--background-color);
    border-width: var(--_--border-width);
    border-style: solid;
    border-color: var(--g-text-input-border-color, var(--_--border-color));
    color:  var(--_--text-color);
    width: 100%;
    display: flex;
    overflow: hidden;
}

.text-input_state_error.text-input_view_normal .text-input__content, .text-input_state_error.text-input_view_normal .text-input__content:hover, .text-input_state_error.text-input_view_normal .text-input__content:focus-within {
    border-color: #e84945cc;
}

.text-input__control{
    box-sizing: border-box;
    vertical-align: top;
    color: inherit;
    background-color: #0000;
    border: none;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}
.text-input__control_type_input {
    
}

.field-wrapper__error-text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #e84945;
    white-space: normal;
    margin-top: 2px;
}

.dialog-footer {
    padding: 28px 32px;
    align-items: center;
    display: flex;
}

.dialog-footer__children {
    flex-grow: 1;
    align-items: center;
    height: 100%;
    display: flex;
}

.dialog-footer__bts-wrapper {
    gap: 10px;
    display: flex;
}

.dialog-footer__button {
    min-width: 128px;
    position: relative;
}
.dialog-footer__button_action_cancel {
    
}

.button.button_pin_round-round.button {
    border-radius: var(--g-button-border-radius, var(--_--border-radius));
}

.button {
    --_--text-color: #ffffffd9;
    --_--text-color-hover: var(--_--text-color);
    --_--background-color: transparent;
    --_--background-color-hover: #ffffff1a;
    --_--border-width: 0;
    --_--border-color: currentColor;
    --_--focus-outline-color: #60809ccc;
    --_--focus-outline-offset: 0;
    --_--font-size: 13px;
    font-size: inherit;
    font-weight: var(--g-text-body-font-weight);
    color: var(--g-button-text-color, var(--_--text-color));
    cursor: pointer;
    box-sizing: border-box;
    height: var(--g-button-height, var(--_--height));
    line-height: var(--g-button-height, var(--_--height));
    font-size: var(--g-button-font-size, var(--_--font-size));
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    -webkit-tap-highlight-color: #0000;
    padding: 0;
    padding: 0 var(--g-button-padding, var(--_--padding));
    justify-content: center;
    gap: var(--g-button-icon-offset, var(--_--icon-offset));
    background: 0 0;
    border: none;
    outline: none;
    text-decoration: none;
    transition: transform .1s ease-out, color .15s linear;
    display: inline-flex;
    position: relative;
    overflow: visible;
    transform: scale(1);
}
.button_view_flat {
    
}
.button_size_l {
    --_--height: 36px;
    --_--border-radius: 8px;
    --_--padding: 16px;
    --_--icon-size: 16px;
    --_--icon-offset: 8px;
}
.button_pin_round-round {
    
}
.button_width_max {
    width: 100%;
}
.button__text {
    white-space: nowrap;
    display: inline-block;
}

.button_width_auto .button__text, .button_width_max .button__text {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.button_disabled {
    cursor: default;
    pointer-events: none;
}

.button_view_action {
    --_--text-color: #ffffffd9;
    --_--background-color: #4b71d6;
    --_--background-color-hover: #638fff;
    --_--focus-outline-color: #4b71d6;
    --_--focus-outline-offset: 1px;
}

.button.button_pin_round-round.g-button {
    border-radius: var(--g-button-border-radius, var(--_--border-radius));
}

.button_disabled:not(.button_loading) {
    --_--text-color: #ffffff4d;
    --_--background-color: #ffffff12;
    --_--background-color-hover: #ffffff12;
    --_--border-width: 0;
}