.button__text {
    white-space: nowrap;
    display: inline-block;
}

.button {
    border-radius: 6px;
    color: #ffffffd9;
    background-color: #4b71d6;
    height: 28px;
    padding: 12px;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    justify-content: center;
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    position: relative;
    overflow: visible;
    align-items: center;
    transition: .1s;
}

.button:hover {
    background-color: #638fff;
}

.button:focus {
    outline-color: #4b71d6;
}

.button:active {
    scale: 0.95;
}