.modal .model__content {
    outline: none;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.modal {
    z-index: 1000;
    visibility: hidden;
    background-color: #0009;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: #0000;
    margin: -9999px 0 0 -9999px;
    display: none;
    position: fixed;
    inset: 0;
    overflow: auto;
}

.modal_open {
    visibility: visible;
    margin: 0;
    display: block;
}

.modal__content-aligner {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    display: inline-flex;
}

.modal__content-wrapper {
    margin: 20px;
    border-radius: 5px;
    overflow-x: hidden;
}

.model__content {
    background-color: #2d2c33;
    border-radius: 5px;
}

.dialog {
    width: 480px;
    flex-direction: column;
    display: flex;
    position: relative;
}

.form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.form_dialog-more {
    
}

.dialog-header {
    padding-block: 20px 10px;
    padding-inline: 32px calc(32px + 24px* 1 + 24px* 0);
    color: #ffffffd9;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
    display: flex;
}

.dialog-header__caption {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
}

.dialog-body {
    padding: 10px 32px;
    flex: auto;
    overflow-y: auto;
}

.form__top {
    padding: 0px;
    margin-bottom: 0px;
}

.form-layout {
    
}

.form-layout__row {
    margin-bottom: 15px;
    display: flex;
}

.form-layout__row-left {
    padding-right: 8px;
    display: initial;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    width: 180px;
    padding-top: 5px;
}

.form-layout__row-title {
    display: inline;
}

.form-layout__row-title_required {
    position: static;
}

.form-layout__row-right {
    flex-grow: 1;
    min-width: 1px;
    margin-left: 15px;
}

.form-field-text {
    
}

.field-wrapper {
    vertical-align: top;
    width: 100%;
    display: inline-block;
}

.field-wrapper > * {
    vertical-align: top;
}

.field-wrapper_state_error {
    --g-select-border-color: #e84945cc;
    --g-text-input-border-color: #e84945cc;
    --g-text-area-border-color: #e84945cc;
}

.text-input {
    --_--text-color: #ffffffd9;
    --_--label-color: inherit;
    --_--placeholder-color: #ffffff4d;
    --_--background-color: transparent;
    --_--border-width: 1px;
    /*--_--focus-outline-color: var(--text-input-focus-outline-color);*/
    width: 100%;
    display: inline-block;
    position: relative;
}

.text-input_view_normal {
    --_--border-color: #ffffff26;
    --_--border-color-hover: #ffffff40;
    --_--border-color-active: #ffffff4d;
}
.text-input_size_m {
    --_--error-icon-padding-block: 5px;
    --_--error-icon-padding-inline: 0 5px;
    --_--border-radius: 6px;
}
.text-input_state_error {
    --g-select-border-color: #e84945cc;
    --g-text-input-border-color: #e84945cc;
    --g-text-area-border-color: #e84945cc;
}
.text-input_pin_round-round {
    
}
.form-field-text__control {
    box-sizing: border-box;
    vertical-align: top;
    color: inherit;
    background-color: #0000;
    border: none;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.text-input_size_m .text-input__control {
    --_--input-control-border-width: var(--g-text-input-border-width, var(--g-text-area-border-width, 1px));
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    height: calc(28px - var(--_--input-control-border-width)* 2);
    padding: 5px 8px;
}

.text-input__content {
    border-radius: 6px;

    box-sizing: border-box;
    background-color: var(--_--background-color);
    border-width: var(--_--border-width);
    border-style: solid;
    border-color: var(--g-text-input-border-color, var(--_--border-color));
    color:  var(--_--text-color);
    width: 100%;
    display: flex;
    overflow: hidden;
}

.text-input_state_error.text-input_view_normal .text-input__content, .text-input_state_error.text-input_view_normal .text-input__content:hover, .text-input_state_error.text-input_view_normal .text-input__content:focus-within {
    border-color: #e84945cc;
}

.text-input__control{
    box-sizing: border-box;
    vertical-align: top;
    color: inherit;
    background-color: #0000;
    border: none;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}
.text-input__control_type_input {
    
}

.field-wrapper__error-text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #e84945;
    white-space: normal;
    margin-top: 2px;
}

.dialog-footer {
    padding: 28px 32px;
    align-items: center;
    display: flex;
}