.cloud-overview__list table {
    width: 100%;
}

.table__table {
    border-spacing: 0;
    border-collapse: separate;
}

.table__head {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.table__body {

}

.table__row {
}

.table__row_empty {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
}

.table__body .table__row:hover:not(.table__row_empty) {
    background-color: #424147;
    color: #ffffffd9;
}

.table__row:hover:not(.table__row_empty) .table__copy-button {
    visibility: visible;
}

.table__row_empty .table__cell {
    text-align: center;
}

.table__cell {
    font-weight: 500;
    box-sizing: content-box;
    padding: 11px calc(4px*2) 10px;
    border-block-end: 1px solid #ffffff26;
    text-align: start;
    overflow-wrap: break-word;
    line-height: 18px;
    
    max-height: 47px;
}

.table__body .table__row:last-child .table__cell {
    border-block-end-color: #0000;
}

.table__cell_primary {
}

.table__cell_sticky_start {
    z-index: 2;
    position: sticky;
}

.table__cell_edge-padding:first-child {
    padding-inline-start: calc(4px*3);
}

.table__sort {
    align-items: center;
    gap: 4px;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 3px;
    display: inline-flex;
}

.table__sort svg {
    color: rgba(255, 255, 255, 0.3);
}

.table__sort_active {
    
}

.table__sort-content {
    
}

.table__sort-indicator {
    color: #ffffffd4;
    flex-shrink: 0;
    display: flex;
}

.sort-icon {
    color: inherit;
    vertical-align: top;
    line-height: 0;
}

.cloud-overview__table-date {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
}

.cloud-overview__table-name {
    align-items: center;
    display: flex;
}

.cloud-overview__table-name-icon {
    text-align: center;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    line-height: 25px;
}

.cloud-overview__table-name-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
    
    color: #ffffffd9;
}

.table__scope-icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table__scope-icon span {
    color: #ffffff;
    font-size: 10px;
}

.table__copy {
    align-items: center;
    display: inline-flex;
}

.table__copy-content {
    display: block;
    margin-inline-end: 5px;
}

.table__copy-button {
    visibility: hidden;
    color: #ffffff80;
    opacity: .5;
    line-height: 0;

    width: 20px;
    height: 20px;
}

.table__copy-button:hover .button__copy-button {
    background-color: #ffffff1a;
    color: #ffffffd9;
}

.button__copy-button {
    border-radius: 3px;
    /*transition: .15s;*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.button__copy-button span {
    width: 100%;
    height: 100%;
}

.button__copy-button span span {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-icon {
    color: inherit;
    vertical-align: top;
    line-height: 0;
}

.table__body .table__cell {
    color: #ffffff80;
}

.table__body .table__cell_primary {
    color: #ffffffd9;
}

.table__head .table__row .table__cell {
    color: #ffffffd9;
}