:root {
    --color-background-base: rgb(45, 44, 51);
    --color-line-generic: #ffffff26;
    --color-scroll-handle: #ffffff26;
    --color-scroll-track: #2d2c33
}

*{
    font-size: 13px;
    text-decoration: none !important;
}

button {
    all: unset;
    outline: none;
}

html, body {
    overflow: hidden;
    background-color: var(--color-background-base);
}

input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.brand-icon {
    margin-left: 13px;
}

.navbar-brand__icon {
    margin: 0;
}

.brand-icon:active {
    scale: 0.95;
    transition-duration: 0.2s;
}

.sidebar-right-lined {
    border-right: 1px solid var(--color-line-generic);
    width: 57px !important;
    min-width: 57px;
    position: fixed;
}

.nav-scrollable {
    overflow: hidden;
}

.navbar-bottom-lined {
    /*border-bottom: 1px solid var(--color-line-generic);*/
    padding: 0 !important;
    height: 56px !important;
}

.cloud-icon {
    scale: 1.3;
    margin-left: 9px;
}

.settings-icon {
    margin-left: 9px;
}

.account-icon {
    margin-left: 9px;
}

.nav-link__icon {
    width: 38px !important;
    height: 38px !important;
    padding: 0;
}

.nav-item.px-3 {
    padding: 8px 0 0 9px !important;
}

.cloud-menu {
    height: 100vh;
    width: 248px;
    min-width: 248px;
    position: relative;
    border-right: 1px solid var(--color-line-generic);
}

.scopes-search__container {
    height: 40px;
    border-bottom: 1px solid var(--color-line-generic);
    padding: 0 8px 0 16px;
}

.scopes-search__input {
    color: rgba(255, 255, 255, 0.85);
    padding: 9px 0 9px 0;
}

.scopes-list__container {
    height: 100vh;
    overflow-y: auto;
    scrollbar-color: var(--color-scroll-handle) var(--color-scroll-track);
    scrollbar-width: auto;
}

.scopes-list__static-container {
    background-color: rgb(66, 65, 71);
    padding: 4px 4px 0 4px;
    position: sticky;
    top: 0;
}

.scopes-list__scrollable-container {
    background-color: rgb(66, 65, 71);
    padding: 0 4px 4px 4px;
    height: fit-content;
}

.scopes-list__scrollable-container.shrank > * {
    display: none;
}

.menu-link {
    height: 36px;
    border-radius: 4px;
    align-items: center;
    display: flex;
}

.menu-link:hover {
    background-color: #616166;
}

.menu-link-active {
    background-color: rgba(82, 130, 255, 0.2) !important;
}

.menu-link-active:hover {
    background-color: #5282ff4d !important;
}

.link-to-dashboard {
    position: sticky;
    top: 0;
}

.link-to-dashboard:hover {
    background-color: #5282ff4d !important;
}

.expand-button {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background-color: transparent;
    transition-duration: 0.15s;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}

.expand-button:hover {
    background-color: #ffffff1a;
    color: rgba(255, 255, 255, 0.85);
}

.expand-button:active {
    scale: 0.95;
}

.scope-name {
    margin-left: 6px;
    color: rgba(255, 255, 255, 0.85);
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 auto;
    overflow: hidden;
}

.arrow-icon {
    rotate: .75turn;
    transition: .1s;
    width: 16px;
    height: 16px;
    color: inherit;
}

.expand-button.toggled svg {
    rotate: 1turn;
}

.link-to-dashboard__title {
    color: rgba(255, 255, 255, 0.85);
}

.link-to-dashboard__title-link {
    display: flex;
    margin-left: 6px;
    align-items: center;
    height: 100%;
}

/*.actions-button {*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    border-radius: 6px;*/
/*    background-color: transparent;*/
/*    transition-duration: 0.15s;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    color: rgba(255, 255, 255, 0.5);*/
/*}*/

/*.actions-button:hover {*/
/*    background-color: #ffffff1a;*/
/*    color: rgba(255, 255, 255, 0.85);*/
/*}*/

/*.actions-button:active {*/
/*    scale: 0.95;*/
/*}*/

.scope-item {
    padding-left: 56px;
}

.scope-icon {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    justify-content: center;
}

.scope-icon span {
    font-size: 8px;
}

.table__copy-button {
    visibility: hidden;
    color: #ffffff80;
    opacity: .5;
    line-height: 0;

    width: 20px;
    height: 20px;
}

.table__body .table__copy-button:hover .button__copy-button {
    background-color: #ffffff1a;
    color: #ffffffd9;
}

.table__row:hover:not(.table__row_empty) .table__copy-button {
    visibility: visible;
}

.button__copy-button {
    border-radius: 3px;
    transition: .15s;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.button__copy-button span {
    width: 100%;
    height: 100%;
}

.button__copy-button span span {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-icon {
    color: inherit;
    vertical-align: top;
    line-height: 0;
}